In [3]:
import pandas as pd

In [8]:
df=pd.read_csv("C:\\Users\\demishra\\Documents\\DS\\weatherdata.csv")

In [9]:
df

        day  temp  windspeed  event
0  6/1/2021    32          6   Rain
1  6/2/2021    35          7  Sunny
2  6/3/2021    28          2   Snow
3  6/4/2021    24          7   Snow
4  6/5/2021    32          4   Rain
5  6/6/2021    32          2  Sunny

In [14]:
df = pd.read_excel("C:\\Users\\demishra\\Documents\\DS\\weatherdata.csv.xlsx","Sheet1")
df

         day  temp  windspeed  event
0 2021-06-01    32          6   Rain
1 2021-06-02    35          7  Sunny
2 2021-06-03    28          2   Snow
3 2021-06-04    24          7   Snow
4 2021-06-05    32          4   Rain
5 2021-06-06    32          2  Sunny

In [15]:
weather_data = {
    'day': ['1/1/2021','1/2/2021','1/3/2021'],
    'temp': [32,35,28],
    'windspeed':[6,7,2],
    'event': ['rain','sunny','snow']
 }
df =pd.DataFrame(weather_data)
df

        day  temp  windspeed  event
0  1/1/2021    32          6   rain
1  1/2/2021    35          7  sunny
2  1/3/2021    28          2   snow

weatherdata = [('1/1/2021',32,6,'rain'),
                ('1/2/2021',35,7,'sunny'),
                ('1/3/2021',28,2,'snow')]
df = pd.DataFrame(weatherdata, columns=["Day","temp","windspeed","event"])
df

In [16]:
df

        day  temp  windspeed  event
0  1/1/2021    32          6   rain
1  1/2/2021    35          7  sunny
2  1/3/2021    28          2   snow